snippet osewa "お世話になっております"
お世話になっております。
アルム研究開発室ホラシオです。
endsnippet

snippet taihen "大変お世話になっております"
お世話になっております。
アルム研究開発室ホラシオです。
endsnippet

snippet doso "どうそ宜しく"
どうそ宜しくお願い致します。
ホラシオ
endsnippet

snippet hikitsu "引く続きをお願いいたします"
引き続きをお願いいたします。
ホラシオ
endsnippet

snippet yoro "宜しくお願いします"
宜しくお願いします。
ホラシオ
endsnippet

snippet otesu "お手数をかけます"
お手数を掛けますがどうそ宜しくお願いいたします。
ホラシオ
endsnippet
